name: Build container image on graphql-server release

on:
  push:
    tags:
      - 'graphql-server@v[0-9]+.[0-9]+.[0-9]+'

env:
  REGISTRY: ghcr.io

jobs:
  build-and-push-image:
    name: 'graphql-server Docker image build and push'
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Log in to the GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: ${{ env.REGISTRY }}/${{ github.repository_owner }}/graphql-server
          tags: |
            type=match,pattern=[^@]+@v(\d+),group=1
            type=match,pattern=[^@]+@v(\d+\.\d+),group=1
            type=match,pattern=[^@]+@v(.*),group=1

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
